{% extends 'base.html.twig' %}
{% block body %}
    {#{{ app.user.username }}#}

    {#{{ app.user.birthdate |date("m/d/Y") }}#}

    {#    <div class="card">#}
    {#    <div class="card-header">#}
    {#        Publiez votre tweet#}
    {#    </div>#}
    {#    <div class="card-body">#}

    {#    </div>#}
    {#    </div>#}

    {% include '_partials/slider_bar.html.twig' %}

    <section class="feed">
        <div class="title">
            <h1>Accueil</h1>
        </div>
        <div class="whats_up">
            <div class="icon">
                <img src="{{ asset('img/icon/twitter_white.png') }}" class="img-fluid">
            </div>
            <div class="tweet_form">
                {{ form_start(form, {'attr': {'id': 'formID'}}) }}
                {{ form_row(form.text) }}
                <div class="form_row d-flex">
                    <div class="file_wrapper">
                        <i class="fa fa-image"></i>
                        {{ form_row(form.image) }}
                    </div>
                    <div class="button" style="margin-left: auto">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </section>

    {#    <section class="footer">#}
    {#        <div class="container text-center">#}
    {#            <h2>Twitter</h2>#}
    {#            <p>Hervé HENRY - Marc DAVID - Sydney MURAT</p>#}
    {#        </div>#}
    {#    </section>#}


    {% block javascripts %}

        <script>

            $('#reussite').hide();
            $('#formID').on('submit', function(e) {
                e.preventDefault();

                var formulaire = $(this);

                var post_type = formulaire.attr('method');
                var post_url = formulaire.attr('action');
                var post_data = new FormData(formulaire[0]);
                console.log(post_data);

                $.ajax({
                    type: post_type,
                    url: post_url,
                    data: post_data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function() {

                        $('#formID')[0].reset();
                    }
                });

            });
        </script>
    {% endblock %}
{% endblock %}
