{% extends 'base.html.twig' %}
{% block body %}
{{ app.user.username }}
{{ app.user.firstname }}
{{ app.user.name }}
{{ app.user.email }}
{{ app.user.birthdate |date("m/d/Y") }}
<br>
<a href="{{ path('user_update', {'id': app.user.id}) }}">Editer</a>

{% endblock %}